name: Deploy to EC2

# Trigger on push to main branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Deploy to EC2 via SSH
      - name: Deploy index.html to EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            # Make sure web server folder exists
            sudo mkdir -p /var/www/html
            # Give ec2-user permission
            sudo chown -R ec2-user:ec2-user /var/www/html
            # Copy index.html
            cp index.html /var/www/html/index.html
